body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #E50914;
  text-decoration:none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left:250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.openbtn:hover{
    cursor:pointer;
}
.main-content{
    padding: 0 30px 0 30px;
}
.side-link{
    padding: 0 20px 0 20px;
    margin: 10px 0 10px -40px;
}
.link-text{
    margin-left:30px;
    margin-top: -3px;
}
.active{
    color: #E50914;
}
.logo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}